{% extends 'base.html.twig' %}

{% block title %} {{ pageTitle }} {% endblock %}

{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">
        {% include "/includes/phase_banner.html.twig" %}
        <a aria-describedby="back-to-search-result" class="govuk-back-link" href="#">Back</a>
        <!-- required wrapper 2 -->
        <main class="govuk-main-wrapper " id="main-content">
            <section>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full restrict-width">
                        {% include "/includes/validation_errors.html.twig" %}
                        <form action="{{ path('eoi_vs_rfi_decision') }}" method="post" id="user_form" data-type="input-radio">
                                <h1 class="govuk-heading-xl page-title">{{ eOivsRFIHeader }}</h1>
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l cat-legend cat-bottom-dist-40">
                                        <h1 class="govuk-fieldset__heading">{{ eOivsRFISubTitle }}</h1>
                                    </legend>
                                    <div class="cat-bottom-dist-40">
                                        {{ eOivsRFIContent|raw }}
                                    </div>
                                    <div class="govuk-form-group  {{ errorMessage is defined and showError is defined ? 'govuk-form-group--error' }}">
                                    {% if errorMessage %}
                                        <span class="govuk-error-message"  style="display:{{ errorMessage is defined and showError is defined  ? 'block' : 'none' }}">
                                            {{ errorMessage }}
                                        </span>
                                    {% endif %}
                                    <div class="govuk-form-group">
                                        <fieldset class="govuk-fieldset">
                                            <div class="govuk-radios">
                                                {% for choice in eOivsRFIForms %}
                                                    <div class="govuk-radios__item">
                                                        <input class="govuk-radios__input" id="eoi-rfi_{{ loop.index }}" name="eoi-rfi" type="radio" value="{{ choice.value }}">
                                                        <label class="govuk-label govuk-radios__label" for="eoi-rfi_{{ loop.index }}">
                                                            {{ choice.title }}
                                                        </label>
                                                        <div class="govuk-hint govuk-radios__hint">
                                                            {{choice.body|raw}}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </fieldset>
                                    </div>
                                    </div>
                                </fieldset>
                            <button class="govuk-button cat-top-dist" type="submit" data-module="govuk-button" id="save-answers">
                                Save and continue
                            </button>
                        </form>
                    </div>
                </div>
            </section>
            {% include "/includes/items/return_to_my_account.html.twig" %}
            {% include "/includes/items/contact_ccs.html.twig" %}
        </main>
    </div>


{% endblock %}