{% extends 'base.html.twig' %}

{% block title %} {{ pageTitle }} {% endblock %}

{% block body %}

    <!-- required wrapper 1 -->
    <div class="govuk-width-container">
                {% include "/includes/phase_banner.html.twig" %}
        <a aria-describedby="back-to-search-result" class="govuk-back-link" href="#">Back</a>
        <!-- required wrapper 2 -->
        <main class="govuk-main-wrapper " id="main-content">
            <section>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full restrict-width">
                        <h1 class="govuk-heading-xl page-title">{{pageTitle}}</h1>
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l cat-legend">
                                <h1 class="govuk-fieldset__heading">{{ pageSubTitle }}</h1>
                            </legend>
                            <div class="govuk-inset-text">
                                Your unique procurement ID is project_5344.<br>
                                You should include this ID in any correspondence with CSS.
                            </div>
                            <dl class="govuk-summary-list">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Name
                                    </dt>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="#">
                                            <span class="govuk-visually-hidden"> name</span>
                                        </a>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        {{ comercialCANumber }}, {{ comercialLOTNumber }}
                                    </dt>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="#">
                                            Change<span class="govuk-visually-hidden"> name</span>
                                        </a>
                                    </dd>
                                </div>
                            </dl>
                            <a href="{{ path('supplier_shortlist_overview')}}" role="button"
                               class="govuk-button  govuk-!-margin-top-6 govuk-!-margin-bottom-6"
                               data-module="govuk-button">Continue</a>
                        </fieldset>
                    </div>
                </div>
            </section>
            <p class="govuk-body  cat-top-dist">
                <a href="#">Return to my account</a>
            </p>
            <span class='hidden_msgs' id="contact-ccs-intermediar-page">Contact CCS - intermediar page</span>
            <p class="govuk-body  cat-top-dist">Need help with this service?
                <a aria-describedby="contact-ccs-intermediar-page"href="#">Contact CCS</a>
            <p>
        </main>
    </div>

{% endblock %}
