<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}  
    <link rel="stylesheet" href="{{ asset ('assets/styles/styles.min.css') }} ">  
</head>

<body class="govuk-width-container">

<a class="skip-main" href="#main-content">Skip to main content</a>

{% block header %}
    {% embed '/includes/header.html.twig' %}
    {% endembed %}
{% endblock %}

{% block body %}{% endblock %}

{{ include('/includes/footer.html.twig') }}

{% block script %}
    <script src="{{ asset('assets/scripts/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ asset('assets/scripts/all.js') }}"></script>
    <script src="{{ asset('assets/scripts/app.js') }}"></script>
    <script src="{{ asset('assets/scripts/step-by-step-nav.js') }}"></script>

    <script>
        window.GOVUKFrontend.initAll();    
        var $element = $('#step-by-step-navigation')
        var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
        stepByStepNavigation.start($element)
    </script>
{% endblock %}

</body>
